.App{
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  font-weight: bold;
  font-size: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  font-weight: bold;
  font-size: 50px;
}

.content {
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
  &__addEmpButton {

  }
  &__header-text {
    margin: 10px 0px 10px 0px;
    font-size: 31px;
    color: brown;
  }
  &__allFields {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // gap: 20px;
    &:last-child {
      margin-bottom: 20px;
    }
    &__form {
      width: 50%; 
      @media only screen and (max-width: 700px) {
        width: unset;
      }
      &__fieldContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
        &__name {
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 10px;
          &__input-first {
            width: 100%;
            background-color: aliceblue;
            padding: 8px;
            border-radius: 5px;
            &:focus {
              background-color: white;
            }
          }
          &__input-last {
            width: 100%;
            background-color: aliceblue;
            padding: 8px;
            border-radius: 5px;
            &:focus {
              background-color: white;
            }
          }
          &__input-age {
            width: 100%;
            background-color: aliceblue;
            padding: 8px;
            border-radius: 5px;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
              -moz-appearance: textfield;
            }
            &:focus {
              background-color: white;
            }
          }
        }
        &__submit-button {
          border-radius: 5px;
          padding: 6px 25px;
          background-color: #1c35b1;
          border: unset;
          color: white;
          font-size: 16px;
          font-weight: 700;
          &:hover, &:focus {
            background-color: #09123e;
          }
        }
      }
    }
  }
}